  body {
    background-color: #EEEEEE;
  }

  input {
    color: black;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
  }

  h1 {
    color: #222831;
    font-family: "Courier New";
  }

  textarea {
    border-radius: 5px;
    border: 25px;
    border-bottom-color: black;
  }

  label {
    color: #373331;
    font-weight: bold;
  }

  a:link, a:visited {
    background-color: #312B30;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: inherit;
    display: inline-block;
    font-family: monospace;
    border-radius: 15px;
  }

  a:hover, a:active {
    background-color: #C93D1B;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-top-width: 1px;
    width: 50%;
    border-color: black;
  }
